.box {
  width: 100%;
  display: flex;
  margin-bottom: 10px;
}

.left-column {
  margin-right: 10px;
}

.right-column {
  width: calc(90% - 50px);
}

.username {
  width: 60%;
}

.last-message {
  width: 90%;
}
